GtkLayout {
    background-color: rgb(90%, 90%, 100%);
}

MySystemWidget {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-image: -gtk-gradient (linear,
    left top, right bottom,
    from(#9d9a99), to(#d6d5d4));
    box-shadow: 2px 2px 2px grey inset;
    margin: 1em 1.5em;
}
